<!DOCTYPE html>
<html>

<head>
    <meta name="referrer" content="origin">
    <title>UltraMeet</title>
</head>

<body>
    
    <script>
        

        var script = document.createElement("script");
        script.type = "text/javascript";

        script.addEventListener("load", function (event) {
            let config = {
                name: "{{name|safe}}",
                meetingId: "{{meeting_id|safe}}",
                apiKey:"{{API_KEY|safe}}",

                containerId: null,

                joinScreen: {
                        visible: true,
                        title: "{{title|safe}}",
                        meetingUrl: "",
                        },
                micEnabled: true,
                webcamEnabled: true,
                participantCanToggleSelfWebcam: true,
                participantCanToggleSelfMic: true,
                chatEnabled: true,
                screenShareEnabled: true,
                whiteBoardEnabled:true,
                permissions:{
                    drawOnWhiteboard:true,
                    toggleWhiteboard:true,

                },
                pollEnabled:true,
                raiseHandEnabled:true,
                recordingEnabled: true,
                participantCanToggleRecording: true,
                recordingWebhookUrl: "ultraxpert.com/callback",
                brandingEnabled: true,
                brandLogoURL: " ",
                brandName: "UltraMeet",
                poweredBy: false,
                pin: {
                    allowed: true,
                    layout: "SIDEBAR",
                },
                
                participantCanLeave: true,
                redirectOnLeave: "https://www.ultracreation.tech/",

                /*
          
               Other Feature Properties
                
                */
            };

            const meeting = new VideoSDKMeeting();
            meeting.init(config);
        });

        script.src =
            "https://sdk.videosdk.live/rtc-js-prebuilt/0.1.15/rtc-js-prebuilt.js";
        document.getElementsByTagName("head")[0].appendChild(script);
    </script>
</body>

</html>