option_settings:
  aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: UltraExperts.settings
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=static/
    WSGIPath: UltraExperts.wsgi:application

container_commands:
  01_migrate:
    command: "$PYTHONPATH/python3 manage.py migrate"
    leader_only: true
    command: "$PYTHONPATH/python3 manage.py collectstatic"





