option_settings:
  aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: UltraExperts.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: UltraExperts.wsgi:application

commands:
  pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false