option_settings:
  aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: UltraExperts.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: UltraExperts.wsgi:application

container_commands:
  01_migrate:
    command: "$PYTHONPATH/python manage.py migrate"
    leader_only: true





